<div class="center hero-unit" style='background-image: url(assets/logo_transp.png); background-repeat:no-repeat;'>
 <%= image_tag('logo_index.png') %>
  <%#= render 'layouts/user_widget' %>

<br />
<br />
<br />
<br />
</div>