
<h1>Relatórios</h1>

<br/>

<div align="left" style="text-align:left;"><h3 style="text-align: left;">Secretaria</h3></div>
<p><%= link_to "Membros",   relMembros_path %></p>
<p><%= link_to "Geração",   relGeracoesIndex_path %></p>
<p><%= link_to "Participantes de Eventos",   participantesEventos_path %></p>
<p><%= link_to "Aniversariantes",   relAniversariantes_path %></p>

</br>
</br>
</br>
<!--<div align="left" style="text-align:left;"><h3 style="text-align: left;">Financeiro</h3></div>
<%#= link_to "Extrato Mensal",   participantesEventos_path %>


</br>
</br>
</br>
<div align="left" style="text-align:left;"><h3 style="text-align: left;">Cursos</h3></div>
<%#= link_to "Participantes de Eventos",   participantesEventos_path %>
-->