<div class="titulos">
	<h4 style="padding-top:5px;">Editar Pessoas</h4>
</div>

<%= render 'form' %>

<table>
	<tr>
		<td align="center" style="width:50px;">
			<%= link_to image_tag('folder_blue_open.png', title: "Exibir") , @sivic_pessoa %>
		</td>
		<td align="center" style="width:20px;">
			<%= link_to image_tag('back.png', title: "Voltar") , @sivic_pessoa %>
		</td>
	</tr>
	<tr>
		<td align="center" style="width:20px;">
			<label class="altBotoes">Exibir</label>
		</td>
		<td align="center" style="width:20px;">
			<label class="altBotoes">Voltar</label>
		</td>
	</tr>	
</table>
