
<% content_for :titlePage do %>
  <strong class='titlepage'>Editar Pessoa</strong>
<% end %>

<%=render '/layouts/panel' %>

<%= render 'form' %>

<table>
	<tr>
		<td align="center" style="width:50px;">
			<%= link_to image_tag('folder_blue_open.png', title: "Exibir") , @sivic_pessoa %>
		</td>
		<td align="center" style="width:20px;">
			<%= link_to image_tag('back.png', title: "Voltar") , sivic_pessoas_path %>
		</td>
	</tr>
	<tr>
		<td align="center" style="width:20px;">
			<label class="altBotoes">Exibir</label>
		</td>
		<td align="center" style="width:20px;">
			<label class="altBotoes">Voltar</label>
		</td>
	</tr>	
</table>
