<div class="titulos">
	<h4 style="padding-top:5px;">Cadastro de Pessoas</h4>
</div>

<%= render 'form' %>

<table>
	<tr>
		<td align="center">
			<%= link_to image_tag('back.png', title: 'Voltar') , sivic_pessoas_path %>
		</td>
	</tr>
	<tr>
		<td align="center">
			<label class="altBotoes">Voltar</label>
		</td>
	</tr>
</table>
