<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo Evento:</strong>
  <%= @sivic_tipo_evento.desc_tipoevento %>
</p>


<%= link_to 'Editar', edit_sivic_tipo_evento_path(@sivic_tipo_evento) %> |
<%= link_to 'Voltar', sivic_tipo_eventos_path %>
