<% content_for :titlePage do %>
  Aulas 
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Turma</th>
      <th>Curso</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sivic_aula.each do |sivic_aula| %>
      <tr>
        <td><%= sivic_aula.nome_aula %></td>
        <td><%= sivic_aula.data_aula %></td>

        <td align='right'>
          <%= link_to frequencia_sivic_alunoaula_path(sivic_aula.sivic_turmamoduloprofessor.sivic_turma_id), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Frequencia" do %>
            <span class="glyphicon glyphicon-asterisk"></span>
          <% end %>                 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>