


<table class="table table-hover" id="tlbalunoaulas" name="tlbalunoaulas">
  <thead>
    <tr>
      <th>Aluno</th>
      <th></th>     
    </tr>
  </thead>
  <tbody id ="idbodyalunoaulas">
      <tr>
      </tr>
  </tbody>
</table>


<script>
  
  function buscaAlunoTurma(){
       $.ajax({
        url : '<%=buscaAlunoTurma_path %>',
        data :
        {
          sivic_turma_id : '<%=@sivic_turmamoduloprofessor.sivic_turma.id%>'
         },
      success: function(data){         
        $('#idbodyalunoaulas').empty();
         for (var i in data){
              var item = data[i];

           $('#tlbalunoaulas').append('<tr><td>'+item.nome_pessoa+'</td><td><a data-confirm="Deseja Excluir o registro?" data-method="delete" href="/sivic_turmamoduloprofessors/'+item.id+'" rel="nofollow" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Excluir</a></td></tr>')
           };   
         }
       })     
   }

   buscaAlunoTurma();

</script>