<% content_for :iconexibir do %>
  <%= link_to @sivic_discipulo, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-list-alt"></span> Exibir
  <% end %>  
<% end %>

<% content_for :editar do %>
<%='true'%>
<% end %>


<%if current_user.sivic_pessoa.sivic_igreja.flag_tradicional%>
	<%= render 'formTradicional' %>
<%else%>
	<%= render 'form' %>
<%end%>

