
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Diagrama de Discípulos</h3>
  </div>
  <div class="panel-body">
    <div id="scroll"> 
      <div style='width:5000px;height:5000px;'>
        <div class="tree">
          <ul>
            <li><a href="#"><%= @sivic_discipulo.sivic_pessoa.NOME_pessoa%></a><%= BuscaPessoas(@sivic_discipulo.sivic_pessoa_id)%></li>
          </ul>	
        </div>
      </div>
    </div>
  </div>
</div>




