<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic pessoa:</strong>
  <%= @sivic_professor.sivic_pessoa %>
</p>

<%= link_to 'Edit', edit_sivic_professor_path(@sivic_professor) %> |
<%= link_to 'Back', sivic_professors_path %>
