<h1>Cadastro de Profissões</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Profissao:</strong>
  <%= @sivic_profissao.profissao %>
</p>

<%= link_to 'Edit', edit_sivic_profissao_path(@sivic_profissao) %> |
<%= link_to 'Back', sivic_profissaos_path %>
