<p id="notice"><%= notice %></p>

<p>
  <strong>Nome escolaridade:</strong>
  <%= @sivic_escolaridade.NOME_escolaridade %>
</p>

<%= link_to 'Editar', edit_sivic_escolaridade_path(@sivic_escolaridade) %> |
<%= link_to 'Voltar', sivic_escolaridades_path %>
