<p id="notice"><%= notice %></p>

<p>
  <strong>Escolaridade:</strong>
  <%= @sivic_escolaridade.escolaridade %>
</p>

<%= link_to 'Edit', edit_sivic_escolaridade_path(@sivic_escolaridade) %> |
<%= link_to 'Back', sivic_escolaridades_path %>
