<ul class="nav nav-tabs">
  <li class="active">
  	<a href="#">Editar</a>
  </li>
  <li>
    <%= link_to 'Exibir', @sivic_igreja %>
  </li>
</ul>


<h1>Editar Igreja</h1>

<%= render 'form' %>

<%= link_to 'Abrir', @sivic_igreja %> |
<%= link_to 'Voltar', sivic_igrejas_path %>
