<% content_for :iconexibir do %>
  <%= link_to @sivic_partevento, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-list-alt"></span> Exibir
  <% end %>  
<% end %>

<%= render 'form' %>
