  </div>
    <div style='width:100%; margin-top:15px;'>
    <table align="right" style="margin-right:10px;">
      <tr>
        <td>
          <table align="right">
            <tr>
              <td align="center" style='width:50px;'>
                <%= image_submit_tag('save.png', title: "Salvar")%><br/>
              </td>
            </tr>
            <tr>
              <td align="center">
                <label class="altBotoes">Salvar</label>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>