<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_situacaoatividade.nome %>
</p>

<%= link_to 'Edit', edit_sivic_situacaoatividade_path(@sivic_situacaoatividade) %> |
<%= link_to 'Back', sivic_situacaoatividades_path %>
